.container {
  display: flex;
  background-color: #f4f1ec;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Bungee', cursive;
  width: 80%;
  padding: 1em;
}

.new-tweet button {
  background-color: goldenrod; 
  border: none;
  color: black;
  padding: .8em 1.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.new-tweet h2 {
  color: black;
  font-size: 24px;
  text-align: center;
}

.new-tweet output {
  color: black;
}

.new-tweet textarea {
  display: flex;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50;
  
  border-bottom: 0.2em solid black;
  border-width: 0.2em;
  background-color: transparent;

  font-weight: bold;
  text-align: center;

  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;

  margin-left: 10%;
  margin-right: 10%;

  width: 80%;

  resize: none;
}

.handle {
  display: flex;
  align-self: flex-start;
  order: 4;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  display: flex;
  order: 2;
}


#alertLong {
  text-decoration: underline red;
  color: red;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

#alertNoText {
  text-decoration: underline red;
  color: red;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.new-tweet {
  border: 0.2em solid #000;
  width: 100%;
}

.counter {
  margin: 1em;
}

#tweetButton {
  margin: 1em;
}



/* @media screen and (max-width: 800px) {
  .container .new-tweet {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
} 

@media (min-width: 600px) {
  .tweet-box {
    width: 25%;
  }

  .tweetsContainer {
    width: 75%;
  }

} */



/* .container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
} */